@media (max-width: 1200px ){
    #linkedinProfil {
        gap: 15rem;
    }
    #info {
        padding-top: 4rem ;
    }
}
@media (max-width: 1024px ){
    #info{
        padding-top: 7rem;
    }
    #linkedinProfil {
        gap: 10rem;
    }
}
@media (max-width: 910px ){
    #info {
        
        padding: 1rem;
        gap: 2rem;
    }
    #h2{
        font-size: 1rem ;
    }
    #linkedinProfil {
        gap: 5rem;
    }
}
@media (max-width: 900px ){
    #linkedinProfil {
        gap: 5rem;
    }
}
@media (max-width: 800px ){
    #linkedinProfil {
        gap: 5rem;
    }
}

@media (max-width: 660px ){
    #start {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    
    }
    #menu{
        width: 9%;
    }
    #info {
        padding-top: 2rem ;
    }
  .infoh2{
    font-size: 35px;
  }
  .infop{
    font-size: 18px;
  }
}
@media (max-width: 610px ){
    #sectionstart {
        padding: 13rem;
    }
}
@media (max-width: 560px ){
    #sectionstart {
        padding: 12rem;
    }
    footer {
        height: 50vh;
       
    }
    #info{
        display: flex;
        flex-direction: column;
    }
    main {
        height: 125vw;
    }
    #linkedinProfil {
        gap: 2rem;
        display: flex;
        flex-direction: column;
    }
    
}
@media (max-width: 375px ){
    footer {
        height: 50vh;
       
    }
    h1{
        font-size: 1rem;
    }
    main {
        height: 160vw;
    }
    #start {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
       
    }
    #sectionstart {
        padding: 7rem;
    }
}