body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.btnchoixcave{
    box-shadow: 1px 2px 3px 2px #cb9755;
    border-radius: 24px;
    border: 1px solid #845f39;
    display: inline-block;
    cursor: pointer;
    color: #cf8444;
    font-size: 16px;
    padding: 17px 9px;
    text-decoration: none;
    text-shadow: 0px 1px 10px #f0a3f0;
    background-color: #384152;
}
.btnchoixcave:hover{
    background-color:#4a5552;
}
.btnchoixcave:active{
    position:relative;
    top:1px;
}
main{
    background-image: url(../Img/cave.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.duobtn2{
    display: flex;
    justify-content: space-between;
    padding-top: 32rem;
    padding-right: 26rem;
    padding-left: 26rem;
}
.displayNone{
    display: none;
}
.popupEnigme{
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 18rem;
    font-size: 36px;
    color: red;
    position: absolute;
    padding-top: 2rem;
    text-align: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.499);
    border-radius: 80px;
}