#hero {
    height: 100vh;
    background-image: url(../Img/BGjtm.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
}

body {
    padding: 0;
    margin: 0;
}

main {


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
}
a{
    text-decoration: none;
    color : white;
}
li {
    list-style: none;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    padding: 0px;
    z-index: 100;
}

h1 {
    color: rgb(237, 237, 215);
}

#logo {
    width: 77px;
    object-fit: cover;
    margin: 0;
}
ul{
    margin: 0;
    list-style-type: none;
    padding: 40px
}

/*menu header*/

#menu {

    cursor: pointer;
    filter: invert(1);
    padding-right: 2rem;
    width: 4%;
    height: 5%;
    object-fit: cover;
}

.menuItem {
    display: block;
    position: absolute;
    top: -200%;
    right: 1%;
    text-decoration: none;
    transition: 0.3s ease-in-out; 
    text-align: center;
}

.menuh {
    display: block;
    position : absolute;
    top: 100%;
    right: 1%;
    color: white;
    font-size: 26px;
    text-shadow: 2px 2px 3px rgba(11, 5, 3, 0.681);
    transition: 0.3s ease-in-out;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.777);

    text-align: center;
    
}


/*btn start*/
#sectionstart {
    display: flex;
    justify-content: center;
    margin: auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#start {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 1rem;
    background-color: #746f6fa5;
    border: 5px black;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 3px rgba(11, 5, 3, 0.681);
    text-decoration: none;

    transition: 0.3s ease;
    animation: pulse 1.5s infinite;
}

#start:hover {
    cursor: pointer;
    background-color: #989090a5;
}

/*text main*/
h2 {
    margin: 0;
}

#info {
    display: flex;
    padding: 3rem;
    background-image: url(../Img/bg2.webp);
    background-position: center;
    background-size: cover;
    height: 60vw;
    background-repeat: no-repeat;
}

#nous {
    display: flex;
    padding: 3rem;
    background-image: url(../Img/image_biblio.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vw;
}

.info2 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(11, 5, 3, 0.5);
    width: 80%;
    margin: auto;
}

.infoh2 {
    font-size: 48px;
}

.infop {
    font-size: 20px;

}

/*section cut hero/main */
#flou {
    background: linear-gradient(to bottom, #0e0e0e, #313534);
    color: transparent;
}

#flou2 {
    background: linear-gradient(to bottom, #0e0e0e, #433c27);
    color: transparent;
}

#flou3 {
    background: linear-gradient(to bottom, #433c27, #4e4747);
    color: transparent;
}

/*footer*/
footer {
    background-color: #4e4747;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#linkedinProfil {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;

}

.linkedina {
    padding: 1rem;
    background-color: rgb(213, 209, 203);
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
}

.linkedina:hover {
    background-color: #a2d0cc;
}

@media (max-width: 500px) {
    #start {
        padding: 2rem;
    }

    #menu {
        padding-right: 1rem;
        width: 5%;
    }

    h1 {
        font-size: 24px;
    }

    #logo {
        width: 60px;
    }

    #info {
        padding: 1rem;
        height: 120vw;
    }

    #nous {
        padding: 1rem;
        height: 120vw;
    }

    #linkedinProfil {
        flex-direction: column;
        gap: 1rem;
    }
}